@page
@model WebDevProject.Pages.Beheerpanel
@{
}
<link href="@Url.Content("/css/imagebutton.css")" rel="stylesheet" type="text/css" />

<div class="container" style="margin-bottom: 60px; text-align:center;">

    <h1>Beheerders Panel</h1>
    <div class="grid">


        <figure class="effect-sarah">
            <img src="https://d9nvuahg4xykp.cloudfront.net/-2307377169336341048/-4143388492091211792.jpg" alt="img12" />
            <figcaption>
                <div>
                    <h2><span>stripboek </span>beheer</h2>
                    <p>maak nieuwe stripboeken aan, pas bestaande aan of verwijder stripboeken</p>
                </div>
                <a href="stripboekbeheer">ga naar stripboek beheer pagina</a>
            </figcaption>
        </figure>

        <figure class="effect-sarah">
            <img src="https://d9nvuahg4xykp.cloudfront.net/-2307377169336341048/-4143388492091211792.jpg" alt="img12" />
            <figcaption>
                <div>
                    <h2><span>Druk </span>beheer</h2>
                    <p>voeg nieuwe drukken toe, pas bestaanden aan of verwijder bestaande stripboeken</p>
                </div>
                <a href="drukbeheer">ga naar druk beheer pagina</a>
            </figcaption>
        </figure>

        <figure class="effect-sarah">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUUypF3yeh9ufE41gJl3WNF9jcWdhTmm4uTw&usqp=CAU" alt="img12" />
            <figcaption>
                <div>
                    <h2><span>genre </span>beheer</h2>
                    <p>voeg nieuwe drukken toe, pas bestaanden aan of verwijder bestaande stripboeken</p>
                </div>
                <a href="genrebeheer">ga naar genre beheer pagina</a>
            </figcaption>
        </figure>
        <figure class="effect-sarah">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUUypF3yeh9ufE41gJl3WNF9jcWdhTmm4uTw&usqp=CAU" alt="img12" />
            <figcaption>
                <div>
                    <h2><span>serie </span>beheer</h2>
                    <p>voeg nieuwe series toe, pas bestaanden aan of verwijder bestaande series</p>
                </div>
                <a href="serie/seriebeheer">ga naar serie beheer pagina</a>
            </figcaption>
        </figure>
        <figure class="effect-sarah">
            <img src="https://images-ext-1.discordapp.net/external/http8jXkADNNSN25Sh8LURk9wClF_B23fnbnfkRCeOs/%3Fq%3Dtbn%3AANd9GcQ5Rh1AIHqXE7_AWdfMCoB3NKpYnbzHnwb91A%26usqp%3DCAU/https/encrypted-tbn0.gstatic.com/images" alt="img12" />
            <figcaption>
                <div>
                    <h2><span>uitgever </span>beheer</h2>
                    <p>voeg nieuwe series toe, pas bestaanden aan of verwijder bestaande series</p>
                </div>
                <a href="uitgeverbeheer">ga naar uitgever beheer pagina</a>
            </figcaption>
        </figure>
        <figure class="effect-sarah">
            <img src="https://images-ext-1.discordapp.net/external/http8jXkADNNSN25Sh8LURk9wClF_B23fnbnfkRCeOs/%3Fq%3Dtbn%3AANd9GcQ5Rh1AIHqXE7_AWdfMCoB3NKpYnbzHnwb91A%26usqp%3DCAU/https/encrypted-tbn0.gstatic.com/images" alt="img12" />
            <figcaption>
                <div>
                    <h2><span>Creator </span>beheer</h2>
                    <p>voeg nieuwe Creator toe, pas bestaanden aan of verwijder bestaande Creator</p>
                </div>
                <a href="creatorbeheer">ga naar creator beheer pagina</a>
            </figcaption>
                </figure>
    </div>
</div>