@page
@model WebDevProject.Pages.Login

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Inloggen";
}

<!DOCTYPE html>
<head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link asp-append-version="true" href="~/css/inloggen.css" rel="stylesheet"/>
</head>
<body class="ibody">
<div class="global-container iglobal-container">
    <div class="div card login-form ilogin-form">
        <div class="card-body icard-body">
            <h1 class="card-title text-center icard-titel">Inloggen</h1>
            <div class="card-text">
                <form method="post" class="iform">
                    <div class="form-group">
                        <label class="ilabel" >Email</label>
                        <input type="email"
                               asp-for="email"
                               class="form-control form-control-sm"
                               id="email"/>
                    </div>
                    <div class="form-group">
                        <label class="ilabel">Password</label>
                        <input type="password"
                               asp-for="wachtwoord"
                               class="form-control form-control-sm"
                               id="password"/>
                    </div>
                    <div><p>@Model.Message</p></div>
                    <button type="submit" class="btn btn-light ibtn">Inloggen</button>
                    <div class="isignup">
                        Geen account? <a href="/Register" class="ia" >maak er een aan!</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<html/>
















