@page
@model WebDevProject.Pages.Login

@{
    //Layout = "~/Pages/Shared/_Layout.cshtml";

    ViewData["Title"] = "Inloggen";
}

<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>    
<link asp-append-version="true" href="~/css/inloggen.css" rel="stylesheet"/>
</head>
<body>
<div class="global-container">
    <div class="div card login-form">
        <div class="card-body">
            <h1 class="card-title text-center">Inloggen</h1>
            <div class="card-text">
                <form method="post">
                    <div class="form-group">
                        <label >Email</label>
                        <input type="email"
                               asp-for="email"
                               class="form-control form-control-sm"
                               id="email"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password"
                               asp-for="wachtwoord"
                               class="form-control form-control-sm"
                               id="password"/>
                    </div>
                    <div><p>@Model.Message</p></div>
                    <button type="submit" class="btn btn-light">Inloggen</button>
                    <div class="signup">
                        Geen account? <a href="/Register" >maak er een aan!</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<html/>
















