@page
@model WebDevProject.Pages.Login

@{
  //  Layout = null;
    ViewData["Title"] = "Inloggen";
}

<!DOCTYPE html>
<head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link asp-append-version="true" href="~/css/inloggen.css" rel="stylesheet"/>
</head>
<body>
<div class="global-container-login">
    <div class="div card-login login-form">
        <div class="card-body-login">
            <h1 class="card-title text-center">Inloggen</h1>
            <div class="card-text">
                <form method="post">
                    <label >Email</label>
                    <div class="form-group">                       
                        <input type="email"
                               asp-for="email"
                               class="form-control form-control-sm"
                               id="email"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password"
                               asp-for="wachtwoord"
                               class="form-control form-control-sm"
                               id="password"/>
                    </div>
                    <div><p>@Model.Message</p></div>
                    <div class="align-content-center">
                    <button type="submit" class="inlogbutton">Inloggen</button></div>
                    <div class="signup-login">
                        Geen account? <a href="/Register" >maak er een aan!</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<html/>
















