@page
@model WebDevProject.Pages.Register
@{
    Layout = "Shared/_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>Account Aanmaken</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>    
    <link asp-append-version="true" href="~/css/register.css" rel="stylesheet"/>
</head>
<body class="ibody">
<div class="global-container iglobal-container">
    <div class="div card login-form ilogin-form">
        <div class="card-body icard-body">
            <h1 class="card-title text-center">Registreren</h1>
            <div class="card-text">
                <form method="post">
                    <div class="form-group">
                        <label for="name" class="ilabel">Name</label>
                        <input type="text"
                               asp-for="gebruikersnaam"
                               class="form-control form-control-sm"
                               id="name"/>
                    </div>
                    <div class="form-group">
                        <label for="email" class="ilabel">Email</label>
                        <input type="email"
                               asp-for="email"
                               class="form-control form-control-sm"
                               id="email"/>
                    </div>
                    <div class="form-group">
                        <label for="geboortedatum" class="ilabel">Birthday</label>
                        <input type="datetime-local"
                               asp-for="geboortedatum"
                               class="form-control form-control-sm"
                               id="geboortedatum"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                               asp-for="wachtwoord"
                               class="form-control form-control-sm"
                               id="password"/>
                    </div>
                          <label>Registreer Als Admin: </label>
                          <input type="checkbox"
                                 asp-for="isAdmin"
                                 data-val="false"
                                 />
                    
                    <p>@Model.Message</p>
                    <button type="submit" class="btn btn-light ibtn">Registreren</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>