@page
@model WebDevProject.Pages.uitgeverbeheer

@{
    Layout = null;
}

@{
    Layout = "Shared/_Layout";
}


<div class="container pt-3 pb-5">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Uitgevers</th>
                    <th scope="col">Delete</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.uitgevers)
                {
                    <tr>
                        <td>@item.uitgever_naam</td>
                        <form method="post">
                            <input type="hidden" name="hiddenUitgever" value="@item.uitgever_naam"/>
                            <td><button asp-page-handler="delete" class="btn btn-danger">Delete</button></td>
                        </form>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        <div class="col">
            <form method="post" class="d-inline mt-10" asp-page-handler="add">
                <h1>Enter a genre here</h1>
                <input type="text" name="uitgever" asp-for="genre" placeholder="Enter a Genre" required="required"/>
                <button type="submit" name="add" class="btn btn-primary">Add uitgever</button>
            </form>
            <div class="row pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda dolores dolorum eius, eos eum itaque iure maiores maxime officia quaerat quas quod quos similique, soluta totam ut veritatis, voluptatem.</div> 
        </div>
    </div>
</div>