@page
@using WebDevProject.Models
@model WebDevProject.Pages.Collectie.StripboekKiezen

<head>
    <title></title>
</head>
<body>
 <div class="mb-5">
     <form action="@nameof(Toevoegen)" method="get">
         
         <label class="form-label mb-1">Kies een stripboek om toe te voegen</label>
         <div class="input-group mb-3">
             <select class="form-select mb-3" name="stripboekId">
                 <option disabled>Kies een stripboek</option>
                 @foreach (StripboekModel stripboek in Model.Stripboeken)
                 {
                     if (Model.stripboekrepo.countStrip(stripboek.StripboekId) > 0)
                     {
                     <option value="@stripboek.StripboekId">@stripboek.stripboektitel</option> 
                     }
                 }
             </select>
         </div>
         <button class="btn btn-primary" type="submit">Boek kiezen</button>
     </form>
    </div>
</body>