@page "{gebruikerId:int}"
@using WebDevProject.Models
@using MySqlX.XDevAPI
@using Newtonsoft.Json
@model WebDevProject.Pages.Collectie.Toevoegen

<head>
    <title>Collectiebeheer</title>
</head>
<body>
<div>
    <h1>Boek aan collectie toevoegen</h1>
</div>
<span class="alert-danger">@Model.erromessage</span>

<div class="mb-5">
    <form asp-page-handler="Stripboek" method="post">
        <label class="form-label mb-1">Kies een stripboek om toe te voegen</label>
        <div class="input-group mb-3">
            <select class="form-select mb-3" name="stripboekId" asp-items="Model.Stripboeken"></select>
        </div>
        <button class="btn btn-primary">Boek kiezen</button>
    </form>
</div>


<div>
    <form asp-page-handler="druk" method="post">
        @* <label type="hidden" value="@Model.GebruikerId" asp-for="NieuwBoek.gebruiker_id"/> *@
       
        <label class="form-label mb-1">Drukdatum</label>
        <select class="form-select mb-3" asp-for="NieuwBoek.druk_id" asp-items="@Model.Drukken"></select>
        <label class="form-label mb-1" asp-for="NieuwBoek.staat"></label>
        <div class="input-group mb-3">
            <input class="form-control" type="text" asp-for="NieuwBoek.staat"/>
        </div>
        <label class="form-label mb-1" asp-for="NieuwBoek.aankoop_locatie"></label>
        <div class="input-group mb-3">
            <input class="form-control" type="text" asp-for="NieuwBoek.aankoop_locatie"/>
        </div>
        <label class="form-label mb-1" asp-for="NieuwBoek.aankoop_waarde"></label>
        <div class="input-group mb-3">
            <input class="form-control" type="decimal" asp-for="NieuwBoek.aankoop_waarde"/>
        </div>
        <label class="form-label mb-1" asp-for="NieuwBoek.beoordeling"></label>
        <div class="input-group mb-3">
            <select class="form-select" asp-for="NieuwBoek.beoordeling">
                <option value="">Geen beoordeling</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Toevoegen</button>

    </form>
</div>
</body>