.ibody{
    height: 100%;
    background-color: #222d32;
    font-family: "Roboto", sans-serif;
    background-image: url("../images/backgroundimage.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.iglobal-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.iform{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;

}
.ilogin-form{
    width: 380px;
    height: 450px;
    margin: 20px;
    background-color: #1a2226;
    border-radius: 10px!important;
}

#password,#email, #name,#geboortedatum{
    background-color: white;
    border:2px solid white;
    border-radius: 10px;
    margin-bottom: 25px;
}
.iemail
{
    margin-left: 20px;
}

#password
{
    margin-left: -5px;
}
.icard-title
{
    font-weight: 900;
    padding-top: 50px;
    color: #bb2d3b;
}


.icard-body{
    display: flex;
    align-items:center;
    flex-direction: column;
}
.ilabel{
    padding-right: 20px
}

.ibtn
{
    background-color: #bb2d3b;
    font-size: 14px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin-left: 85px;
    color: white;
}

.ia{
    color: #bb2d3b;
}